*, *:before, *:after {
  box-sizing: inherit;
}

body, html, #root, main {
  height: 100%;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  background: #eee;
}

body {
  color: #999;
  font-size: 1.31em;
  font-weight: 300;
}

h1 { font-size: 2em; }
h2 { font-size: 1.5em; }
h3 { font-size: 1.17em; }
h4 { font-size: 1.12em; }
h5 { font-size: .83em; }
h6 { font-size: .75em; }
h1, h2, h3, h4, h5, h6 {
  padding-bottom: 1em;
}
p {
  line-height: initial;
  padding-bottom: 1em;
}

.wrapper {
  max-width: 1200px;
  margin: auto;
  width: 90%;
}
